.header {
  position: relative;
  background: rgb(90, 58, 201);
  background: linear-gradient(
    8deg,
    rgba(90, 58, 201, 1) 0%,
    rgba(6, 0, 40, 1) 66%
  );
  height: 100vh;
  border-radius: 0px 0px 55% 25%;
  color: #fff;

  &__wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    h1 {
      font-family: $mainFont;
      font-size: 55px;
      font-weight: 700;
    }

    p {
      font-family: $secFont;
      font-size: 18px;
    }

    a {
      display: block;
      text-decoration: none;
      background-color: #fff;
      padding: 10px;
      width: 50%;
      color: black;
      border-radius: 25px;

      z-index: 2;
    }

    .scroll {
      position: relative;
      width: 30px;
      height: 60px;
      background-color: #fff;
      border-radius: 50px;
      box-shadow: inset 0px 0px 15px -3px #5544f3;

      &::before {
        content: "";
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background: rgb(90, 58, 201);
        background: linear-gradient(
          0deg,
          rgba(90, 58, 201, 1) 0%,
          rgb(37, 25, 106) 66%
        );

        position: absolute;
        top: 5px;
        left: 50%;
        transform: translateX(-50%);
        animation: 2s scroll infinite ease-in-out;
      }
    }
  }

  &__logo {
    position: absolute;
    top: 10%;
    left: 0;
    width: 80%;
    opacity: 0.3;
  }
}

@keyframes scroll {
  0% {
    top: 5px;
  }

  50% {
    top: 30px;
    opacity: 0.5;
  }

  100% {
    top: 5px;
  }
}

@media (min-width: 768px) {
  .header {
    &__wrapper {
      h1 {
        font-size: 100px;
      }

      a {
        width: 30%;
      }
    }

    &__logo {
      width: 60%;
    }
  }
}
